.swap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: var(--white);
  border-radius: 50%;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--background-secondary);
    border-radius: 50%;
    transition: all 150ms ease-in-out;

    &:hover {
      opacity: 0.5;
    }

    &:focus,
    &:focus-visible {
      outline: 2px solid var(--background-tertiary);
      outline-offset: 2px;
    }

    .icon {
      width: 16px;
      height: 16px;
      color: var(--text-quaternary);
    }
  }
}
