.swap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: var(--white);
  border-radius: 50%;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--background-secondary);
    border-radius: 50%;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.5;
    }

    .icon {
      width: 16px;
      height: 16px;
      color: var(--text-quaternary);
    }
  }
}
