@import url(./reset.css);
@import url(./theme.css);
@import url(./springs.css);

html {
  caret-color: black;

  ::selection {
    color: var(--white);
    background: var(--text-primary);
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 384px;
  isolation: isolate;
}
