*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-variation-settings: inherit;
  font-feature-settings: "calt", "ccmp", "locl", "kern";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: inherit;
  color: inherit;
  text-transform: none;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
button {
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: 2px solid transparent;
  background: none;
  border: none;
}

input {
  padding: 0;
  font: inherit;
  background: none;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#root,
#__next {
  isolation: isolate;
}
